* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}
.top {
    width: 100%;
    height: 60px;
    min-height: 60px;
    background-color: #1F9DFB;
    position: fixed;
    top:0;
    left:0;
    display: flex;
}
.top_left, .top_right {
    height: 100%;
}
.top_left {
    width: 200px;
    min-width: 200px;
    border-right: 1px solid #5DB6DE;
}
.top_right {
    width: 100%;
    display: flex;
    align-items: center;
}
.hide-nav {
    padding: 0 10px;
    display: none;
}
.hide-nav > i {
    color: #ffffff;
    font-size: 24px;
}
.hide-nav > i:hover {
    cursor: pointer;
    color: #F2F2F2;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
}
.main_left {
    width: 200px;
    min-width: 200px;
}
.main_right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.regular {
    width: 100%;
    height: 60px;
    min-height: 60px;
}
.left_content, .right_content {
    width: 100%;
    height: 100%;
}
.left_content {
    display: flex;
    flex-direction: column;
    background-color: #EDF0F5;
}
.right_content {
    overflow-y: scroll;
    overflow-x: hidden;
}
.long-content {
    width: 100%;
    margin: 0 auto;
    padding: 20px 10px;
}
.long-content_operation {
    width: 100%;
    height: 60px;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
}
.long-content_operation input {
    height: 36px;
    width: 175px;
    border: none;
    border: 1px solid #BFCBD8;
    border-radius: 5px;
    outline: none;
    padding-left: 5px;
    margin-left: 15px;
}
.long_search_btn{
    height: 34px;
    width: 54px;
    border: none;
    outline: none;
    color: white;
    background-color: #3378B4;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px
}
.long_search_btn:hover {
    background-color: #285F8E;
}
.long-content_table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #F8F8F8;
    /* overflow: scroll;
    overflow-y:hidden; */
    /* overflow-x:hidden; */
}
#articleTable {
    width: 100%;
    min-width: 1000px;
    word-break:break-all;
    table-layout:fixed; 
    border: none;
}
.tr {
    width: 100%;
    margin-bottom: 5px;
}
.tr:hover {
    background-color: #EDF7FF;
}
.tr > td:nth-child(1) {
    padding-left: 5px;
}
.td {
    padding: 10px 8px;
    color: #3C4855;
    font-size: 0.9em;
    text-align: left;
    border-bottom: 1px solid #DFE6EC;
}
.td > div {
    height: 100px;
    width: 100%;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}
.tr > .td:nth-child(2) > div,
.tr > .td:nth-child(3) > div,
.tr > .td:nth-child(6) > div,
.tr > .td:nth-child(7) > div,
.tr > .td:nth-child(8) > div,
.tr > .td:nth-child(9) > div,
.tr > .td:nth-child(10) > div {
    line-height: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editBtn,.deleteBtn {
    width: 44px;
    height: 28px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 10px;
}
.editBtn {
    border: 1px solid #BFCBD8;
}
.deleteBtn {
    background-color: #FF444B;
    color: white;
    margin-left: 10px;
}
.first {
    height: 45px;
    background-color: #EDF2F7;
}
.th {
    padding: 0 8px;
}
.th > input {
    margin-right: 3px;
}
.th:nth-child(1) {
    width: 6%;
    padding-left: 5px;
}
.th:nth-child(2) {
    width: 12%;
}
.th:nth-child(3) {
    width: 116px;
    min-width: 116px;
}
.th:nth-child(4) {
    width: 10%;
}
.th:nth-child(5) {
    width: 20%;
}
.th:nth-child(6) {
    width: 5%;
}
.th:nth-child(7) {
    width: 4%;
}
.th:nth-child(8) {
    width: 4%;
}
.th:nth-child(9) {
    width: 6%;
}
.th:nth-child(10) {
    width: 12%;
}
.th:nth-child(11) {
    width: 12%;
}

.long-content_page {
    width: 100%;
    height: 56px;
    background-color: #F2F2F2;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
#all_delete {
    width: 88px;
    height: 36px;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    background-color: red;
    cursor: pointer;
}
.liBgc {
    background-color: #EEEEEE;
}

/* 隐藏添加盒子 */
.modal-body > p {
    display: flex;
    align-items: baseline;
    padding: 5px 0;
}
.modal-body > p > label {
    width: 13%;
    text-align: right;
    padding: 0 5px;
}
.modal-body > p:nth-child(1) > input,
.modal-body > p > textarea {
    width: 80%;
}
.modal-body > p > input {
    height: 30px;
}
.modal-body > p > textarea {
    overflow-y: scroll;
}


@media only screen and (min-width: 400px) and (max-width: 1250px) {
    .main {
        flex-direction: column;
    }
    .main_right > .regular {
        display: none;
    }
    .hide-nav {
        display: block;
    }
    .main_left {
        width: 100%;
    }
    .left_content {
        height: 200px;
        display: none;
    }
}

@media only screen and (min-width: 400px) and (max-width: 1040px) {
    .long-content_table {
        overflow-y:hidden;
        overflow-x:scroll;
    }
}


