* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
    background: #ededed;
}
/*返回顶部*/
#toTop {
    position: fixed;
    right: 10px;
    top: 100px;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    z-index: 99;
    cursor: pointer;
    display: none;
}
#toTop:hover {
    color: green;
    border: 1px solid #D2E0EF;
}

/*隐藏导航菜单*/
.hide_nav_menu, .hide_search {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background: rgba(54,54,54,.96);
    z-index: 99;
    display: none;
}
.hide_nav_menu_box, .hide_search_box {
    width: 718px;
    margin: 0 auto;
    /*background-color: white;*/
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
}
.hide_nav_menu_box a {
    text-decoration: none;
    color: #EEEEEE;
    width: 100%;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #666666;
    margin-bottom: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.hide_nav_menu_box a:hover {
    background-color: #FFFFFF;
    color: #689E43;
}

/*隐藏搜索框*/
.hide_search_box {
    padding: 25px 0;
    flex-direction: row;
    justify-content: space-between;
}
#hide_search_text {
    border: none;
    height: 36px;
    width: 80%;
    padding: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px;
    outline: none;
}
#hide_search {
    width: 20%;
    height: 36px;
    background-color: #2EA373;
    font-size: 12px;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    outline: none;
}





/*头部导航开始*/
.header {
    width: 100%;
    height: 80px;
    background: rgba(54,54,54,.96);
    /*box-shadow:1px 3px 5px #39F;*/
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
.header_container {
    width: 1140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: yellow;*/
}
.header_logo, .header_nav, .header_search {
    height: 100%;
}
.header_logo {
    width: 250px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.header_nav_box {
    width: 44.7%;
}
.header_nav {
    width: 100%;
    /*background-color: blue;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_search_box {
    width: 22.85%;
}
.header_search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header_nav > a {
    text-decoration: none;
    color: #EEEEEE;
}
.header_nav > a:hover {
    color: #689E43;
}
#searchBtn {
    margin-right: 20px;
    font-size: 16px;
    color: white;
}
#searchBtn:hover {
    color: #58A74C;
    cursor: pointer;
}
.login > a {
    text-decoration: none;
    color: #FFFFFF;
}
.login > a:hover {
    color: #58A74C;
}
.login > span {
    color: #706666;
}


/*隐藏菜单*/
#hideMenu {
    font-size: 18px;
    color: white;
    display: none;
}
#hideMenu:hover {
    color: #6CA743;
}
.hide {
    display: none;
}
/*头部导航结束*/

/*中间主体内容开始*/
.main {
    width: 1140px;
    /*border: 1px solid black;*/
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.main_left {
    width: 74.166666666667%;
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
}
.main_right {
    width: 22.850877192982%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}
/*主体左边*/
.slider {
    width: 100%;
    height: 350px;
    /*border: 1px solid black;*/
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide > img {
    width: 100%;
    height: 100%;
}
.set_top {
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.set_top:hover {
    border: 1px solid orangered;
}
.set_top_container {
    width: 95.860437610881%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}
.set_top_blogger {
    width: 86px;
    height: 28px;
    color: white;
    font-size: 0.9em;
    background-color: #FF5B55;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set_top_title {
    color: #FF5B55;
    font-size: 1.2em;
    padding: 6px 0;
}
.set_top_text {
    font-size: 0.9em;
    color: #999999;
}
.all_blog {
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    margin-top: 20px;
}
.all_blog_title {
    width: 100%;
    height: 38px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all_blog_title > span {
    width: 96.45180366647%;
    font-weight: bold;
}
.all_blog_container {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all_blog_box {
    width: 96.45180366647%;
    height: 200px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all_blog_box:hover {
    border: 1px solid #EDCF6C;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    transition: all .2s ease-out;
}
.all_blog_content {
    width: 96.319018404908%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.blog_img {
    height: 100%;
    border-radius: 5px;
}
.blog_img img {
    /*width: 100%;*/
    height: 100%;
    border-radius: 5px;
}
.blog_intro {
    width: 74.859638178415%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog_title, .blog_about {
    width: 100%;
    height: 20px;
    /*background-color: yellow;*/
}
.blog_text {
    width: 100%;
    height: 62.5%;
    /*font-size: 0.9em;*/
    color: #5F5F5F;
    /*background-color: yellow;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.blog_title {
    font-size: 1.2em;
    font-weight: bold;
    /*background-color: red;*/
}
.blog_title a {
    text-decoration: none;
    color: #333333;
}
.blog_title a:hover {
    color: #3378B4;
}
.blog_about {
    display: flex;
    justify-content: space-between;
}
.blog_about_left, .blog_about_right {
    height: 100%;
    display: flex;
}
.blog_about_left {
    width: 60px;
    align-items: center;
    justify-content: flex-start;
}
.blog_about_right {
    /*width: 70%;*/
    justify-content: flex-end;
    align-items: center;
}
.blog_about_right > span {
    margin-left: 8px;
}
.blog_about_left > span, .blog_about_right > span {
    height: 100%;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}
.blog_about_left > span > i, .blog_about_right > span > i {
    margin-right: 5px;
}
.blog_about_left > span > a {
    text-decoration: none;
    color: #AC675F;
}
.blog_about_left > span > a:hover {
    text-decoration: underline;
}
/*主体右边*/
/*关于作者*/
.about_container {
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_container > div {
    width: 87.809523809524%;
    margin-bottom: 5px;
    display: flex;
}
/* .author_img {
    background-color: red;
} */
.author_img img {
    width: 100px;
    height: 120px;
    /*border: 1px solid black;*/
}
.article_comment {
    align-items: center;
    justify-content: space-between;
}
.articles {
    color: #706670;
}
.articles:hover {
    color: black;
    text-decoration: underline;
}

/*公共标题样式*/
.common_box {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.common_title {
    width: 100%;
    height: 38px;
    background-color: #F5F5F5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.common_title > span {
    width: 87.809523809524%;
    font-weight: bold;
}
.common_content {
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*最新发布*/
.new_publish_text {
    width: 87.809523809524%;
    border-bottom: 1px solid #D8E6F7;
    padding: 10px 0 ;
    font-size: 0.9em;
}
.new_publish_text > a {
    text-decoration: none;
    color: #000000;
}
.new_publish_text > a:hover {
    color: #3378B4;
}
/*最新留言*/
.new_comment_text {
    width: 87.809523809524%;
    border-bottom: 1px solid #D8E6F7;
    padding: 10px 0 ;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new_comment_text a, .user_comment {
    margin-bottom: 10px;
}
.user_comment .user {
    color: #56A67C;
}
.comment_text {
    color: #666666;
}
.comment_time_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/*中间主题内容结束*/

/*底部页脚*/
.footer {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background: rgba(54,54,54,1);
    display: flex;
    align-items: center;
}
.footer_box {
    width: 100%;
    height: 66.666666666667%;
    display: flex;
    flex-direction: column;
}
.footer_box span {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    color: white;
}
.contact {
    align-items: flex-end;
}
.contact a {
    text-decoration: none;
    color: #3378B3;
    padding: 0 10px;
    /*border-left: 1px solid #A18180;*/
}
.contact a:hover {
    text-decoration: underline;
}
/*底部页脚结束*/



/*响应式*/
@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .header_container {
        width: 940px;
    }
    .main {
        width: 940px;
    }
    .all_blog_box {
        height: 180px;
    }
    .blog_text {
        height: 56%;
        -webkit-line-clamp: 4;
    }
}

@media only screen and (min-width: 400px) and (max-width: 990px) {
    .header {
        box-shadow:none;
    }
    .header_container {
        width: 718px;
    }

    .main {
        width: 718px;
        flex-direction: column;
    }

    .main_left {
        margin-bottom: 20px;
    }

    .main_left, .main_right {
        width: 100%;
    }

    .about_container > div, .common_title > span, .new_publish_text, .new_comment_text {
        width: 96.45180366647%;
    }

    .all_blog_box {
        height: 160px;
    }

    .blog_intro {
        width: 78%;
    }

    .blog_text {
        height: 47%;
        -webkit-line-clamp: 3;
    }

    .header {
        height: 60px;
    }

    .main {
        margin-top: 80px;
    }
    .header_search_box {
        width: 110px;
    }

    .header_nav_box {
        display: none;
    }

    #hideMenu {
        display: block;
    }
    .hide_nav_menu, .hide_search {
        top:60px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
    .header_container {
        width: 94%;
    }
    .main {
        width: 94%;
    }
    .header {
        height: 50px;
    }
    .main {
        margin-top: 70px;
    }
    .slider {
        height: 200px;
    }
    .blog_img {
        display: none;
    }
    .blog_intro {
        width: 100%;
    }
    .blog_title {
        height: auto;
        font-size: 1em;
    }
    .blog_text {
        font-size: 0.8em;
        height: 38%;
        -webkit-line-clamp: 3;
    }
    .blog_about_left > span, .blog_about_right > span {
        font-size: 10px;
    }
    .hide_nav_menu, .hide_search {
        top: 50px;
    }
    .hide_nav_menu_box, .hide_search_box {
        width: 94%;
    }
}
