* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
.wrap {
    width: 100%;
    height: 100%;
    background: url(../img/homescreen.jpeg) no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    /* 背景图垂直、水平均居中 */
    background-position: 50% 50%;
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #464646;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_box {
    width: 450px;
    height: 240px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.33);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.login_box > div {
    width: 80%;
    text-align: center;
}
.title {
    font-size: 1.6em;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 22px;
    display: flex;
    justify-content: flex-start;
}
.username > input, .password > input {
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 5px;
    border: 1px solid #BFCAD9;
    color: #FFFFFF;
    padding: 0 5px;
    background-color: transparent;
}
.username > input::-webkit-input-placeholder,
.password > input::-webkit-input-placeholder {
    color: #FFFFFF;
}
.login_box > div:nth-child(4) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box > div > a {
    font-size: 12px;
    color: #1F9DFB;
    text-decoration: none;
}
.box > div > a:hover {
    text-decoration: underline;
}
.type {
    display: flex;
    align-items: center;
}
.type > label {
    font-size: 12px;
    margin-right: 5px;
    color: #e6e6e6;
}

.login > button {
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1F9DFC;
}
.login > button:hover {
    background-color: #4CB1FC;
}